
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/assets/js/app.js"></script>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGSyE80f7jwVMtDiGDi3CXGWkT9HE9Gaw">
    </script>


<div ng-app="Sip">
  <main data-ui-view></main>
</div>

  <!-- the controller will get overwritten every time a new controller and template are assigned -->
