html,
body {
  height: 100%;
  background-color: pink;
  padding-left: .5%;
}

/*body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/

.container {
  padding: 1%;
  width: 500px;
  height: 400px;
}

#map {
  background: red;
  position: relative !important;
  min-width: 200px;
  width: 500px;
  min-height: 200px;
  height: 80%;
  border: 1px solid blue;
}

.sidebar {
  width: 33.3333%;
}
